@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
}

navbar{
    background: linear-gradient(to right, #cf0d0d -100%, #cc5671);
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;

}

.itens-navbar{
    display: flex;
    width: 100vw;
    height: 60%;


}

.home-navbar{
    display: flex;
    justify-content: center;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 13px;
    color: white;
    font-size: 14px;
}
.pesquisa-navbar{
    width: 50%;

}

.pesquisa-navbar input{
    margin: 8px;
    width: 60%;
    height: 65%;
}

.div-pesquisar{
    display: flex;
    width: 70%;
    height: 70%;
    background-color: white;
    margin-top: 8px;
}

.imput-pesquisar{

    width: 80%;
}

.imput-pesquisar input{
    height: 80%;
    width: 100%;
}

.button-pesquisar{
    width: 20%;

}

.botoes-navbar{
    display: flex;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}

.botoes-navbar ul{
    display: flex;
    width: 100%;
}

.botoes-navbar li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-top: 8px;
}


.item-hamburguer{
    display: none;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
} 

@media screen and (max-width:965px) {
    .item-hamburguer{
        display: block;
    }
    .botoes-navbar {
        position: absolute;
        flex-direction: column;
        top: 0;
        background: linear-gradient(to right, #cf0d0d -100%, #cc5671);
        height: 100%;
        width: 45vw;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
}

.botoes-navbar li{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5px;
}

.categorias-navbar{
    display: flex;
    width: 100vw;
    height: 40%;

}

.categorias-navbar ul{
    width: 100vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;

}

.categorias-navbar li{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    margin-left: 30px;
    list-style: none;
}

section{
    background-color: rgb(254, 247, 247);
    height: 100%;
}

.carrosel{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.carrosel img{
    height: 394px;
    width: 1500px;
}


.conteudo{
    width: 100%;
    height: 100%;
}

.cards{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.cards img{
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 5px rgb(201, 201, 201);

}

.valoresDosProdutos{
    display: flex;
    justify-content: center;
    margin: 0;
}

.valoresDosProdutos ul li{
    margin: 0 10px 4px 10px;
    width: 200px;
    color: black;
}

.descricaoDeProdutos{
    display: flex;
    justify-content: center;
    margin: 0;
}

.descricaoDeProdutos ul li{
    margin: 0 10px 4px 10px; 
    width: 200px;
    color: black;
}

.cashback{
    display: flex;
    justify-content: center;
    margin: 0;
}

.cashback ul li{
    margin: 0 10px 4px 10px; 
    width: 200px;
    color: green;
    font-weight: 500;
    font-size: 12px;
}

.marcas{
    display: flex;
    justify-content: left;
    margin-left: 14.5%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}


.linha-horizontal{
    display: flex;
    justify-content: center;
    margin-left: 220px;
    margin-bottom: 10px;
    width:1080px;
    border: 1px solid rgb(232, 227, 227);
    box-shadow: 0 0 15px rgb(201, 201, 201);
}

.cardsMarcas{
    display: flex;
    justify-content: center;
    margin: 0;
}

.cardsMarcas img{
    margin: 20px;
    width: 120px;
    border-radius: 100px;
    box-shadow: 0 0 5px rgb(201, 201, 201);
}

.banner{
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner img{
    margin: 40px;
    box-shadow: 0 0 15px rgb(201, 201, 201);
    width: 500px;
    height: 300px;
}

.categorias{
    display: flex;
    justify-content: center;
}

.categorias img{
    display: flex;
    justify-content: center;
    margin: 0; 
    width: 154px;
    height: 154px;
    box-shadow: 0 0 5px rgb(201, 201, 201);
}

footer {
    background: linear-gradient(to right, #be2d2d, #FF416C);
    bottom: 0;
    display: flex;
    justify-content: end;
    height: 68.5px;
    width: 100%;
    margin-top: 30px;
}

/*
#homeFooter{
    display: flex;
    position: fixed;
    left: 6%;
    bottom: 3%;
}
*/

#homeFooter a{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 12%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 80%;
    font-weight: 700;
}